* {
    font-family: -apple-system, sans-serif;
}

.ship {
    width: 40px;
    font-size: 14pt;
    aspect-ratio: 1/1;
    border: 1px solid black;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    gap: 1em;
}

.direction-column {
    flex-direction: column;
}

.safezone {
    background-color: rgba(0, 57, 255, 0.33);
}

.ship.hitA:after {
    font-size: 8pt;
    position: absolute;
    content: "✖"; /*gray*/
    z-index: 1000;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
}

.ship.hitB:before {
    font-size: 8pt;
    position: absolute;
    content: "❌"; /*red*/
    z-index: 1000;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
}